[Unit]
Description=start nm-applet

[Service]
Restart=always
RestartSec=2s
ExecStart=/usr/bin/nm-applet
NoNewPrivileges=true
StandardError=journal+console

[Install]
WantedBy=default.target
