[Unit]
Description=start xautolock

[Service]
Restart=always
RestartSec=2s
ExecSearchPath=/usr/bin:/usr/local/bin:/home/arnaldo/.local/bin
ExecStart=xautolock -detectsleep -time 10 -locker "lock"

[Install]
WantedBy=default.target
